@media screen and (max-width: 1536px) {
  .slidenav {
    top: 29%;
  }
}

@media screen and (max-width: 1400px) {
  .about__benefits-col {
    margin-right: 30px;
  }

  .team__text {
    width: 460px;
    margin: auto 0 auto auto;
  }

  .team__wrapper-row {
    align-items: center;
  }

  .about-testimonials__customer-images::before {
    left: -50px;
  }
}

@media screen and (max-width: 1366px) {
  .slidenav {
    top: 27%;
    right: 0;
  }
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1300px) {
  .site-offer__wrapper {
    padding: 60px 100px 60px 100px;
  }

  .site-offer__image-wrapper {
    margin-right: 0;
  }

  .site-offer__content {
    flex-direction: column;
  }
}

@media screen and (max-width: 1260px) {
  .about-testimonials__customer-images {
    margin-left: 50px;
  }

  .contact .contact-form {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1070px;
  }

  .about-testimonials-wrapper {
    height: 530px;
  }

  .about-testimonials__customer-second-image {
    right: 35%;
    bottom: 0;
  }

  .about-testimonials__customer-images::before {
    left: 100px;
  }

  .about-testimonials__customer-third-image {
    bottom: 45px;
    right: 215px;
  }

  .about-testimonials__customer-fourth-image {
    right: 155px;
  }

  .about__image {
    width: 100%;
    height: unset;
  }

  .about__image-logo {
    position: absolute;
    top: -40px;
    right: -30px;
  }

  .about__benefits-col {
    margin-right: 20px;
  }

  .team__members {
    margin-top: 0;
  }

  .team__member {
    margin-top: 70px;
  }

  .result-num__block {
    margin: auto 0 10px auto;
  }

  .services__card {
    margin-bottom: auto;
  }

  .slide__img-wrapper img {
    width: auto;
  }

  .services__cards {
    margin-bottom: auto;
  }

  .services .card-item {
    width: 325px;
    height: 325px;
  }

  .reviews__item-text {
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3%;
  }

  .services .card-item {
    margin-bottom: 40px;
  }

  .about,
  .services {
    padding-bottom: 60px;
  }

  .col-4.contact-info {
    margin-bottom: 50px;
  }

  .contact .contact-info {
    margin: 0px 50px 50px 50px;
  }

  .contact {
    margin-bottom: 0px;
  }

  .contact .contact-form input {
    margin-bottom: 38px;
  }

  .lets-get-started__wrapper {
    flex-direction: column;
  }

  a.main_btn.contact-form__btn {
    margin-top: 10px !important;
  }

  .header-bottom-nav__list > li a,
  .header-bottom-nav__list > li .dropdown {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 1040px;
  }

  .header__logo img {
    max-height: 30px;
  }

  .services__title-wrapper {
    padding: 0 20px;
  }

  .result-num__title {
    max-width: 500px;
  }

  .content--fixed {
    padding: 0;
  }

  .reviews {
    padding: 90px 0;
  }

  .services .card-item {
    width: 300px;
    height: 300px;
  }

  .services__text {
    margin: 0 auto;
    max-width: 400px;
  }

  .about__client-block {
    padding: 15px 27px;
  }

  .about .about-icon {
    align-items: center;
  }

  .about .about-icon__text {
    font-size: 20px;
    line-height: 1.2;
  }

  .parallax-block__content {
    padding: 0 30px;
  }

  .about .about-icon__image {
    max-width: 50px;
  }

  .footer-contacts__list-item {
    display: flex;
    align-items: center;
  }

  .footer-contacts__list-item-icon,
  .footer__list_item {
    line-height: 30.4px;
  }

  .footer-col-hours-wrapper {
    padding: 0;
  }

  .about .about-icon-img-wrapper {
    margin-right: 35px;
  }

  .site-offer__image-wrapper {
    margin: 20px;
  }

  .site-offer__list span {
    margin-right: 0;
  }

  .about-testimonials__customer-images {
    margin: 0 auto;
  }

  .about__benefits {
    display: block;
  }

  .header-bottom-nav__list > li a,
  .header-bottom-nav__list > li .dropdown {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 992px) {
  .about__image_second {
    position: absolute;
    bottom: -95px;
    right: -250px;
  }

  .comp-systems__title {
    margin-top: 30px;
  }

  .about__images {
    margin-bottom: 145px;
  }

  .about__icons-wrapper {
    justify-content: space-around;
  }

  // .header-bottom-nav__list li {
  //   padding-right: 32px;
  // }

  .site-offer__wrapper {
    padding: 60px 30px 60px 40px;
  }

  .site-offer__image-wrapper {
    margin-top: 60px;
  }

  .site-offer__bg {
    padding: 0 10px;
  }

  .slide__desc {
    line-height: 75px;
    font-size: 68px;
    margin-bottom: 30px;
  }

  body {
    padding: 0;
  }

  .footer-block {
    margin-bottom: 80px;
  }

  .footer-block__working-hours {
    max-width: 310px;
  }

  .footer-logo,
  .footer-col-hours-wrapper__time {
    text-align: center;
  }

  .footer-social-network,
  .footer__list_item,
  .footer-block__working-hours,
  .footer-col-hours-wrapper__week-day,
  .footer-text {
    margin: 0 auto;
  }

  .footer-contacts__list-item,
  .footer__title {
    justify-content: center;
  }

  .team__text {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 892px) {
  .mob-menu {
    display: block;
    .menu-nav {
      flex-direction: column;
    }
  }

  .slide__desc {
    line-height: 70px;
    font-size: 62px;
    margin-bottom: 30px;
  }

  .desctop-menu {
    display: none;
  }

  .slider {
    padding-top: 64px;
    margin-top: 0;
  }

  footer {
    padding: 90px 0;
  }

  .breadcrumbs {
    padding-top: 64px;
  }

  .about__number-text {
    max-width: 180px;
  }

  .lets-get-started__wrapper {
    flex-direction: column;
    align-items: start;
  }

  .contact .contact-form input {
    margin-bottom: 24px;
  }

  // .main_btn {
  //   margin-top: 0 !important;
  // }

  .lets-get-started__title {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .result-num__customers-block {
    margin-top: 40px;
  }

  .footer-logo,
  .footer-col-hours-wrapper__time {
    text-align: inherit;
  }

  .footer-text {
    max-width: none;
  }

  .footer-social-network,
  .footer__list_item,
  .footer-block__working-hours,
  .footer-col-hours-wrapper__week-day,
  .footer-text {
    margin: 0;
  }

  .footer-contacts__list-item,
  .footer__title {
    justify-content: inherit;
  }

  .services__text {
    margin: 20px 0 0 0;
    max-width: 540px;
  }

  .about__number-wrapper-block {
    margin-top: 30px;
  }

  .about__number-text {
    max-width: 235px;
  }

  .services .card-item {
    margin-bottom: 0;
  }

  .services__title-wrapper {
    margin-bottom: 50px;
  }

  .services__title {
    max-width: 580px;
  }

  .about__content {
    margin-top: 20px;
  }

  .about-testimonials__customer-fourth-image {
    right: 30px;
  }

  .about-testimonials__customer-second-image {
    right: 170px;
  }

  .about-testimonials__customer-third-image {
    right: 30px;
  }

  .card-item {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px) {
  .slidenav {
    display: none;
  }

  .about__image_second-mob {
    display: block;
    text-align: right;
    margin-top: 20px;
  }

  .about__image_second-desc {
    display: none;
  }

  .about__images {
    display: block;
  }

  .about__image_logo {
    left: 324px;
  }

  .site-offer__bg {
    display: block;
  }

  .site-offer__image-wrapper {
    padding-top: 60px;
    margin: 0;
  }

  .about,
  .services {
    padding: 80px 0px 60px 0px;
  }

  .about__images {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 640px) {
  .breadcrumbs__background-overlay {
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 600px) {
  .reviews__name-job {
    padding: 10px 40px 10px 15px;
  }

  .about-testimonials__customer-second-image {
    right: 110px;
  }

  .contact-form__row {
    flex-direction: column;
  }

  .contact .contact-form .field-wrap {
    width: 100%;
  }

  .lets-get-started {
    padding: 70px 50px 70px 50px;
  }

  .about-parallax-block__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 525px) {
  .about__image_logo,
  .about__client-block {
    right: 0;
    left: inherit;
  }

  .about-testimonials__customer-second-image {
    right: 60px;
  }

  .about-testimonials__customer-fourth-image {
    right: -15px;
  }

  .about__icons-wrapper {
    display: block;
  }

  .about-icon {
    margin-top: 25px !important;
  }

  .slide__desc {
    line-height: 53px;
    font-size: 45px;
    margin-bottom: 30px;
  }

  .slide__title {
    font-size: 14px;
    margin: 25px auto;
  }

  .main_btn {
    padding: 20px 40px;
  }

  .slide__link-image {
    left: 220px;
  }

  .reviews__client-image img {
    width: 100% !important;
    height: 100%;
  }

  .reviews__client-image {
    width: 100px;
    height: 100px;
  }

  .reviews__each {
    padding: 30px;
  }

  .reviews__name-job {
    padding: 10px 30px 10px 10px;
  }

  .about__image-logo {
    right: -20px;
  }
}

@media screen and (max-width: 460px) {
  .slide__desc {
    font-size: 40px;
  }

  .slide__title {
    margin-top: 80px;
  }

  .slide__link-image {
    width: 70px;
    left: 205px;
    bottom: 105px;
  }

  .about-first-image,
  .about-second-image {
    width: 100%;
  }

  .reviews__client-image {
    width: 75px;
    height: 75px;
  }

  .about .about__content {
    padding-left: 12px;
  }

  .reviews .slider-item__icon-quote {
    margin: 15px 0 15px;
  }

  .reviews__each {
    padding: 15px;
  }

  .contact .contact-form {
    padding: 60px 30px;
  }

  .contact .contact-info {
    margin-left: 0;
  }

  .breadcrumbs__title {
    font-size: 35px;
  }

  body {
    line-height: normal;
  }

  .breadcrumbs__content {
    font-size: 13px;
  }
}

@media screen and (max-width: 360px) {
  .slide__title {
    font-size: 12px;
  }

  .slide__desc {
    font-size: 36px;
    line-height: 42px;
  }

  .title {
    font-size: 40px;
  }

  .services .card-item {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
  }

  .site-offer__list li {
    margin-bottom: 15px;
  }

  .site-offer__list span {
    line-height: 25px;
  }

  .reviews .item {
    padding-left: 66px;
  }

  .slide__link-image {
    width: 55px;
    left: 175px;
    bottom: 80px;
  }

  .main_btn {
    padding: 15px 30px;
  }

  .contact__info-text a {
    font-size: 18px;
  }

  .contact .contact-form {
    padding: 40px 20px;
  }

  .footer-contacts__list-item {
    margin-bottom: 5px;
  }

  .breadcrumbs__title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1290px !important;
  }
}
