@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800&display=swap");

$primary: #5f2dee;
$secondary: #b882fc;
$text: #6c6a72;
$heading: #1d1729;
$light: #e4e0ee;
$background-color: #f4f2f9;
$primary-font: Catamaran;
$font-size: 16px;
$line-height: 1.9;
$letter-spacing: 0px;
$footer-text: #b0a9c0;

.container {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  color: $text;
  font-family: $primary-font;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-size: $font-size;
}

a {
  &:hover {
    color: inherit;
  }

  color: inherit;
  text-decoration: none;
}

.padding-none {
  padding: 0 !important;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

.mob-menu {
  display: none;
}

.mob-logo {
  z-index: 999;
  max-height: 50px;
  position: absolute;
  left: 5vw;
  transform: translate(0%, 13%);
}

.active_sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  margin-top: 0 !important;
  width: 100%;
  z-index: 9999;
  background-color: $heading;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-animation: sticky 0.7s;
  animation: sticky 0.7s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

.slider {
  margin-top: 122px;
  background-color: $heading;
  min-height: calc(100vh - 120px);
}

.slideshow {
  height: calc(100vh - 120px);
}

.slide {
  height: calc(100vh - 120px);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: $primary !important;
}

.owl-dots {
  margin-top: 20px !important;
}

.check-mark {
  min-width: 16px;
  height: 16px;
  background-color: $secondary;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  & i {
    color: #fff;
    font-size: 10px;
  }
}

.active {
  color: $primary;
}

.about__image_second-mob {
  display: none;
}

.main_btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: rgb(28, 31, 30);
  border: none;
  cursor: pointer;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  padding: 24px 48px;
  margin-top: 36px !important;

  &::before {
    background-color: $primary;
    transition: 0.3s ease-out;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
  }

  & span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
  }

  &:hover::before {
    height: 0%;
    position: absolute;
    content: "";
  }
}

.main_btn-wrapper {
  position: relative;

  .btn::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
  }
}

.underlined {
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  width: 16px;
  height: 2px;
  background-color: $primary;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.2;
  color: $heading;
}

// .slideshow {
//   height: 85vh;
// }

.slide__img-wrapper img {
  width: auto;
}

.sub-title {
  margin: 0 0 15px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $primary;
  position: relative;
  padding-left: 30px;
  text-transform: capitalize;
}

.header-consult-info__icon {
  color: $secondary;
  margin-right: 12px;
  min-width: 16px;
}

.footer-contacts__list-item-icon {
  color: $secondary;
  margin-right: 12px;
  min-width: 16px;
}

.header__logo {
  background-color: $heading;

  img {
    max-height: 41px;
  }
}

.header-consult-info__info {
  margin-right: 30px;
  margin-top: 5px;
}

.header-consult-info__title {
  font-size: 14px;
  font-weight: 500;
  font-family: $primary-font;
  margin-bottom: 0;
}

.header__social-networks {
  background-color: $background-color;
}

.header-social-network {
  height: 42px;
  width: 42px;
  color: #15101e;

  &:hover {
    color: $secondary;
  }
}

.footer-social-network__item {
  height: 42px;
  width: 42px;
  color: #15101e;
  transition: all 0.5s;

  i {
    color: #aea8b9;
  }
}

.header-bottom {
  min-height: 70px;
  padding-left: 0;
}

.header-bottom-nav__list {
  width: 100%;

  > li {
    // padding-right: 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
    // transition: background-color 2s ease-out 100ms;
    // transition: 300ms ease-out 300ms;

    a {
      padding: 20px 40px;
      transition: 100ms ease-out;
    }
    &:hover a {
      // transition: background-color 300ms ease-out 100ms;
      background: $primary;
      color: white;
    }

    &:hover .dropdown_menu li {
      color: $text;
    }
    // &:hover a:not(.dropdown) {
    //   color: red;
    // }
    @keyframes scaleZ {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      80% {
        transform: scale(1.07);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    .dropdown {
      padding: 20px 40px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 18px;
      perspective: 1000px;
      z-index: 100;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: 600;
      color: $text;
      line-height: inherit;

      &:hover {
        transition: background-color 300ms ease-out 100ms;
        background: $primary;
        color: white;
      }

      &:hover .dropdown_menu li {
        display: block;
      }
      .dropdown_menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 218px;
        perspective: 1000px;
        z-index: -1;

        @for $num from 1 through 8 {
          .dropdown_item-#{$num} {
            transform-origin: top center;
            $duration: 60ms * $num;
            animation: scaleZ 400ms #{$duration} ease-in-out forwards;
          }
        }
        li {
          display: none;
          color: white;
          background-color: $primary;
          padding: 10px 20px;
          font-size: 16px;
          opacity: 0;
          padding: 0;
          text-align: left;
          a {
            display: block;
            padding: 10px 0 10px 20px;
            transition: 100ms ease-out;
            &:hover {
              background-color: white;
              color: $primary;
              animation: none;
            }
          }
        }
      }
    }
  }
}

.header-consult {
  padding-left: 35px !important;
}

.header-consult-info {
  border-bottom: 1px solid $light;
  padding-left: 0;
}

.header-consult-info__info_text {
  font-weight: 500;
  font-size: 14px;
}

.header-bottom-nav {
  padding-left: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  line-height: 1.4;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform-origin: bottom left;
    transition: all 500ms ease;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.icon-slider-button {
  animation: icon-animation 2s ease-in-out infinite;

  @keyframes icon-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      border-color: $secondary;
      color: $secondary;
    }
    100% {
      transform: none;
    }
  }

  // @keyframes icon-inner-animation {
  //   0% {
  //     // transform: scale(1);
  //   }
  //   50% {
  //     // transform: scale(1.2);
  //     // border-color: $primary;
  //     color: $secondary;
  //   }
  //   100% {
  //     // transform: scale(1);
  //   }
  // }

  &:hover {
    // animation-play-state: paused;
    // transform: scale(1.2);
    border-color: $secondary;
  }
  // i {
  //   animation: icon-inner-animation 2s ease-in-out infinite;
  //   &:hover {
  //     animation-play-state: paused;
  //   }
  // }
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  margin-right: 12px;

  &:hover i {
    color: $secondary;
  }

  i {
    transition: all 0.5s;
  }
}

.header-bottom__icon {
  img {
    max-width: 26px;
  }

  background-color: $primary;
}

.footer-social-network {
  max-width: 238px;
}

.footer-social-network-item-wrapper {
  background-color: #15101e;
}

.header-bottom__content_call {
  font-size: 13px;
  color: $text;
  line-height: 1.2;
  font-weight: 500;
}

.header-bottom__content_num {
  color: $heading;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.footer-logo__image {
  max-width: 164px;
}

.footer-logo {
  padding-bottom: 30px;
}

.footer-text {
  max-width: 238px;
  padding-bottom: 30px;
}

footer {
  background-color: $heading;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
  background-image: url("../../img/lines-footer.png");
  color: $footer-text;
}

.footer-col-hours-wrapper__time {
  color: #181818;
  opacity: 0.6;
  font-size: 14px;
  min-width: 135px;
  color: #fff;
  opacity: 0.5;
}

.footer__title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  height: 41px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &::after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: -4px;
    width: 16px;
    background-color: $primary;
  }
}

.background-overlay {
  background-attachment: fixed;
  background-color: rgba(18, 18, 18, 1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.background-color {
  background-attachment: fixed;
  background-color: #121212;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer-col-hours-wrapper__week-day {
  font-size: 14px;
}

.footer-col-hours-wrapper {
  padding: 4px 0;
}

.footer-title-wrapper {
  position: relative;
}

.slide {
  user-select: none;

  &__title {
    z-index: 9;
    font-family: $primary-font;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 23px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  &__desc {
    z-index: 10;
    font-family: Catamaran;
    text-transform: uppercase;
    height: auto;
    width: auto;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 800;
    font-size: 90px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    margin-bottom: 40px;
  }

  &__desc_symb {
    font-weight: 100;
    font-family: "Shalimar";
    font-weight: 100;
    color: $secondary;
  }

  &__img-wrapper {
    position: absolute;
    width: 100%;

    img {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $heading;
      opacity: 0.65;
    }
  }

  &__link-image {
    display: block;
    left: 265px;
    bottom: 115px;
    position: relative;
  }
}

.slidenav__item {
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;

  & i {
    color: rgba(255, 255, 255, 0.6);
  }
}

.slidenav {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: auto;
  top: 30%;
  right: 7%;
  left: inherit;
}

.about,
.services {
  position: relative;
  padding: 120px 0;
  z-index: 9;

  &__client-block {
    position: absolute;
    padding: 20px 36px;
    background-color: #b882fc;
    color: #fff;
    top: 200px;
    z-index: 1;
    left: 320px;

    &::before {
      position: absolute;
      content: "";
      bottom: 15px;
      left: -20px;
      width: 0px;
      border-top: 20px solid transparent;
      border-bottom: 17px solid transparent;
      border-right: 20px solid $secondary;
    }

    &-count {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.3;
    }

    &-title {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__image_second {
    position: absolute;
    bottom: 0;
    right: -100px;
  }

  &__image_firts {
    position: relative;
  }

  &__image_logo {
    width: 171px;
    height: 171px;
    position: absolute;
    right: -95px;
    top: -15px;
  }

  &__icons-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .about__content {
    padding-left: 60px;
  }

  .about__text {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .about-icon {
    display: flex;

    &-img-wrapper {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      background-color: #f8f2ff;
      margin-right: 50px;
      transition: all 0.3s ease;
    }

    &-img-wrapper:hover {
      transition: all 0.3s ease;
      transform: scale(1.1);
    }

    &-icon__text {
      text-transform: uppercase;
      position: relative;
      right: -20px;
      top: 10px;
      font-size: 64px;
      line-height: 1;
      color: var(--primary);
    }

    &__image {
      position: relative;
      right: -20px;
      top: 10px;
      font-size: 64px;
      line-height: 1;
      color: var(--primary);
      max-width: 64px;
    }

    &__text {
      font-weight: 600;
      font-size: 1.5157em;
      line-height: 1.4;
      color: $heading;
      text-transform: capitalize;
      max-width: 170px;
    }
  }

  &-list {
    margin-top: 45px;
    &__item {
      margin-top: 5px;
      display: flex;
      align-items: center;
    }

    &__text {
      color: $heading;
      font-weight: 700;
      padding-left: 10px;
    }
  }
}

.services {
  background-color: $heading;
  background-image: url("../../img/bg-services.png");
  &__title-wrapper {
    margin-bottom: 90px;
    display: flex;
    align-items: center;
  }
  &__card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;
    padding: 0 30px;
    min-height: 73px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
  }

  &__icon {
    position: absolute;
    background-color: $primary;
    right: 0;
    top: -45px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      max-width: 34px;
    }
  }

  &__card {
    margin-bottom: -175px;
  }

  &__card-title {
    color: $heading;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
  }

  &__text {
    max-width: 550px;
    color: $footer-text;
  }

  &__cards {
    margin-bottom: 250px;
  }

  &__card-image {
    width: 100%;
  }

  &__title {
    color: #fff;
  }

  .card-block {
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .card-item {
    background-color: transparent;
    position: relative;
    width: 250px;
    height: 250px;
    transition: transform 0.2s;
    cursor: pointer;
    margin: 0 auto;
  }

  .card-layer {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    cursor: pointer;
  }
}

.site-offer {
  min-height: 361px;
  background: linear-gradient(to left, #f4f2f9 50%, #ece9f3 50%);
  &__title {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 45px;
  }
  &__image-wrapper {
    text-align: center;
    margin-right: 80px;
  }
  &__content {
    display: flex;
  }

  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../img/bg-decoration1.jpg);
    min-height: 361px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__list {
    span {
      color: #fff;
      font-weight: 700;
      margin-left: 10px;
      margin-right: 200px;
    }
    .check-mark {
      background-color: #fff;
      i {
        color: $primary;
      }
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }

  &__circle-img {
    width: 173px;
    height: 173px;
    object-fit: cover;
    border-radius: 50% 50% 50% 50%;
  }
}

.white-btn {
  background-color: $primary;
  &:hover span {
    color: rgb(255, 255, 255);
  }

  &::before {
    background-color: rgb(255, 255, 255);
  }

  & span {
    color: rgb(28, 31, 30);
  }

  &:hover::before {
    height: 0%;
    position: absolute;
    content: "";
  }
}

.suffix {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.reviews {
  background-image: url("../../img/bg-contact-team.png");
  text-align: center;
  padding: 110px 0;
  background-repeat: no-repeat;
  background-size: cover;
  &__client-image {
    width: 120px;
    height: 120px;
    background-color: $secondary;
    border-radius: 50%;
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .slider-item__icon-quote {
    text-align: right;
    margin: -15px 0 40px;
  }
  &__client-image img {
    z-index: 2;
    position: relative;
    height: 115px;
    width: 115px !important;
    border-radius: 50%;
    object-fit: cover;
    border: #fff solid 4px;
  }
  &__sub-title {
    margin-bottom: 15px;
  }
  &__each {
    margin: auto 0 auto auto;
    position: relative;
    padding: 50px;
    background-color: #fff;
  }
  &__name-job {
    padding: 20px 80px 20px 30px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: -55px;
    left: -65px;
    background-color: #fff !important;
    border-radius: 60px;
    background-size: 190px 20px;
    background-repeat: repeat-x;
    background-position: bottom;
    z-index: 1;
    border: 1px solid $secondary;
  }
  .item {
    padding: 15px;
    padding-top: 100px;
    padding-left: 70px;
    cursor: grab;
  }
  .item:active {
    cursor: grabbing;
  }
  &__item-text {
    color: $text;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    max-width: 501px;
  }
  .title {
    padding-bottom: 40px;
  }
}

.slider-item {
  &__name {
    font-size: 20px;
    font-weight: 800;
    color: $heading;
    line-height: 1.2;
  }
  &__job {
    font-size: 14px;
    font-weight: 600;
    color: $primary;
    text-align: left;
  }
  &__icon-quote {
    color: #ffc600;
    // text-align: right;
    // margin: -15px 0 40px;
  }
}

.parallax-block {
  background-color: #1d1729;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0px 110px 0px;
  --widgets-spacing: 20px;
  position: relative;
  overflow: hidden;
  &__background-overlay {
    background-attachment: fixed;
    background-color: rgba(18, 18, 18, 1);
    background-image: url(../../img/bg-attachment-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: luminosity;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  &__background-color {
    background-attachment: fixed;
    background-color: #121212;
    opacity: 0.7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: luminosity;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }

  &__geometry {
    content: "";
    position: absolute;
    bottom: 0;
    left: -150px;
    width: 150px;
    height: 150%;
    opacity: 0.5;
    background-image: linear-gradient(360deg, $primary 40%, $secondary 100%);
    transform: rotate(40deg);
    transform-origin: bottom right;
  }

  &__content {
    position: relative;
    z-index: 3;
  }
}

.result-num {
  &__contact-button {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    background-color: $secondary;
    border-radius: 50%;
    margin-right: 16px;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 50px;
    & i {
      color: #fff;
    }
  }
  &__contact-button::before {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: transparent;
    border: 1px solid #a99cbe;
  }
  &__title {
    color: #fff;
  }

  &__sub-title {
    margin: 0 0 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    position: relative;
  }

  &__customers-block {
    background-color: $secondary;
  }
  &__projects-block {
    background-color: $primary;
  }
  &__block {
    padding: 20px 36px;
    text-align: left;
    max-width: 208px;
    color: #fff;
    margin-bottom: 10px;
  }
  &__number {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }
}

.breadcrumbs {
  padding-top: 90px;
  background-color: #1d1729;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  --widgets-spacing: 20px;
  position: relative;
  overflow: hidden;
  &__content-style {
    position: relative;
    z-index: 3;
  }
  &__title-block {
    background-size: auto;
    background-color: transparent;

    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    padding: 140px 0px 0px 0px;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
  }
  &__content {
    color: #ffffffba;
    padding: 0px 0px 140px 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding-right: 5px;
        a:hover {
          color: $secondary;
        }
      }
    }
  }
  &__background-color {
    background-attachment: fixed;
    background-color: #121212;
    opacity: 0.7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: luminosity;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
  &__geometry {
    content: "";
    position: absolute;
    top: 120px;
    right: 0;
    width: 245px;
    left: auto;
    transform: auto;
    height: 212px;
    opacity: 0.5;
    background-image: linear-gradient(0deg, #5f2dee 0%, #a974fa 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 0%);
    transform-origin: unset;
    transform: unset;
  }
  &__geometry-second {
    position: absolute;
    top: 250px;
    right: -100px;
  }
  &__background-overlay {
    background-image: url(../../img/bg-header-banner.jpg);
    background-attachment: unset;
    background-position: top;
    background-size: unset;
    height: 100%;
    width: 100%;
    top: unset;
    left: 0;
    position: absolute;
    z-index: 1;
  }
}

.service-description {
  margin: 40px 0;
  &__text {
    margin: 15px 0;
  }
  &__image {
    margin: 0px auto 40px auto;
    width: 60%;
    height: 500px;
    background-image: url(../../img/web-studio.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    color: $heading;
  }
  &__list {
    margin: 35px 0;
    li {
      display: flex;
      align-items: center;
      padding-left: 30px;
      padding-bottom: 20px;
    }
  }
  &__sm-text {
    font-size: 14px;
    font-style: italic;
  }
  &__link {
    color: $primary;
  }
  h4.service-description__title {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .comp-systems {
    &__title {
      text-align: center;
    }

    &__list {
      margin: 10px 0;
      li {
        padding-bottom: 10px;
      }
    }
  }
}

.sofware-studio-cards {
  margin: 20px 0;
  .card-item {
    min-height: 378px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 20%);
    img {
      margin: 20px;
      max-width: 129px;
      border-radius: 10px;
    }

    &__title {
      color: $heading;
      text-align: center;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.2;
    }

    &__text {
      font-size: 16px;
      line-height: 1.7;
    }
  }
}

.contact {
  margin: 120px 0;
  .contact-info {
    max-width: 366px;
    &__elem {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
  &__circle {
    background-image: -webkit-linear-gradient(0deg, #5f2dee 0%, #b882fc 100%);
    border-radius: 50%;
    box-shadow: 0px 5px 30px 0px rgb(0 0 0 / 10%);
    min-width: 91px;
    height: 91px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
  &__icon {
    font-size: 32px;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    img {
      max-width: 32px;
    }
  }
  &__info-text {
    a {
      font-size: 20px;
      font-weight: 600;
      display: inline-block;
      line-height: 1.4;
      color: $heading;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative;
      &:hover {
        color: $primary;
      }
    }
  }

  .contact-form {
    background-image: url("../../img/bg-contact.png");
    padding: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
    input,
    textarea {
      transition: all 0.3s ease;
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      border-radius: 0;
      padding: 25px 50px;
      outline: none;
      line-height: 19px;
      border: none;
      caret-color: $primary;
      margin-bottom: 52px;
    }
    textarea {
      height: 185px;
      resize: none;
      margin-bottom: 22px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .field-wrap {
      width: 48%;
    }
    &__btn {
      width: 100%;
      text-align: center;
      margin-bottom: 32px;
    }
  }
}

.lets-get-started {
  background-color: #1d1729;
  border-style: solid;
  border-width: 0px 0px 0px 10px;
  border-color: #b882fc;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 100px 70px 100px;
  max-width: 1290px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
  &__background-overlay {
    background-image: url(../../img/bg-let-get-started.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__sub-title {
    padding-left: 0;
    color: $secondary;
  }
  &__title {
    font-size: 36px;
    color: #ffffff;
  }
}

.map {
  &-wrapper {
    max-height: 482px;
  }
  &__map-iframe {
    height: 482px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    width: 100%;
  }
}

.about {
  &__image-wrapper {
    position: relative;
    max-width: 460px;
    padding: 0px 0px 0px 20px;
    background-color: transparent;
    background-image: linear-gradient(0deg, #5f2dee 0%, #b882fc 100%);
  }

  &__image {
    width: 470px;
    height: 460px;
  }

  &__image-logo {
    position: absolute;
    top: 145px;
    right: -112px;
  }

  &__benefits-item {
    display: flex;
    align-items: center;
  }

  &__benefits {
    display: flex;
    margin-top: 52px;
    align-items: center;
  }

  &__benefits-col {
    margin-right: 70px;
  }

  &__benefits-text {
    padding-left: 7px;
    color: $heading;
    font-size: 18px;
    font-weight: 700;
  }

  &__benefits-icon {
    color: $primary;
  }

  &__number-wrapper {
    padding-top: 60px;
  }

  &__number {
    text-align: center;
    line-height: 1.3;
  }

  &__number-val {
    font-size: 60px;
    font-weight: 800;
    color: $heading;
  }

  &__number-suffix {
    font-size: 36px;
    font-weight: 800;
    color: $heading;
  }

  &__number-text {
    text-transform: uppercase;
    color: $primary;
    font-weight: 800;
    border: 1px solid #f4f2f9;
    padding: 14px 30px;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    max-width: 235px;
    margin: 0 auto;
  }
}

.about-testimonials {
  background-color: #f4f2f9;
  padding: 110px 0px;
  &__text {
    margin-top: 15px;
  }

  &__slider-item {
    display: flex;
    align-items: center;
  }

  &__position {
    padding-left: 30px;
  }

  .item {
    padding-top: 45px;
    cursor: grab;
  }

  .owl-dots {
    text-align: left !important;
    margin: 45px 0 !important;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 14px !important;
    height: 4px !important;
    border-radius: 0px !important;
    margin: 5px 5px !important;
  }

  &__slider-item {
    margin-bottom: 45px;
  }

  &__customer-images {
    margin: 20px 0px 0px 80px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    &::before {
      content: "";
      background-image: url(../../img/bg-many-triangle.png);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
      background-repeat: no-repeat;
    }
    img {
      border-radius: 50%;
    }
  }

  &__customer-first-image {
    z-index: 1;
    position: absolute;
  }

  &__customer-second-image {
    z-index: 2;
    position: absolute;
    bottom: 65px;
    right: 165px;
  }

  &__customer-third-image {
    z-index: 2;
    position: absolute;
    bottom: 120px;
    right: 148px;
  }

  &__customer-fourth-image {
    z-index: 1;
    position: absolute;
    right: 95px;
    top: 80px;
  }
}

.about-parallax-block {
  &__title {
    margin-bottom: 55px;
    max-width: 860px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 70px 0 34px 0;
    font-size: 60px;
  }

  &__button {
    position: relative;
    z-index: 3;
    text-align: center;
  }
}

.team {
  position: relative;
  padding: 110px 0;
  &::before {
    content: "";
    background-image: url(../../img/bg-lines-main.png);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: top right;
    mix-blend-mode: luminosity;
  }
  &__text {
    width: 571px;
    margin: 0 0 auto auto;
  }
  &__members {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  &__member {
    img {
      width: 100%;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 5;
  }
  &__name {
    font-size: 24px;
    line-height: 1.4;
    color: $heading;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__job {
    font-weight: 500;
    line-height: 1.4;
  }
}

// mob-menu

// @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

.mob-menu {
  #burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;

    &:checked {
      & ~ .menu {
        opacity: 1;
        visibility: visible;
        z-index: 11;
        display: flex;

        .menu-nav-link span div,
        img,
        .title p {
          transform: translateY(0);
          transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
        }

        .image-link {
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) img {
              transition-delay: 0.1s + 0.08s * $i;
            }
          }
        }
      }

      & ~ .burger-menu {
        .line {
          &::after {
            transform: translateX(0);
          }

          &:nth-child(1) {
            transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
          }

          &:nth-child(2) {
            transform: scaleX(0);
          }

          &:nth-child(3) {
            transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
          }
        }
      }
    }
  }

  .burger-menu {
    --burger-menu-radius: 4em;
    position: absolute;
    z-index: 12;
    top: 0vh;
    right: 5vw;
    z-index: 100;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;

    .line {
      position: absolute;
      left: 25%;
      width: 50%;
      height: 3px;
      background: $primary;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s;

      &:nth-child(1) {
        top: 30%;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(3) {
        top: 70%;
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary-color-darker);
        transform: translateX(-100%);
        transition: 0.25s;
      }

      @for $i from 2 through 3 {
        &:nth-child(#{$i})::after {
          transition-delay: 0.1s * ($i - 1);
        }
      }
    }

    &:hover {
      .line::after {
        transform: translateX(0);
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1e23;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;

    @include sp-layout {
      display: block;
    }

    &-nav {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      text-align: center;
      list-style-type: none;

      @include sp-layout {
        flex-direction: column;
      }

      &-item {
        flex: 1;
      }

      &-link {
        position: relative;
        display: inline-flex;
        font-size: 2rem;
        color: white;
        text-decoration: none;

        span {
          overflow: hidden;

          div {
            transform: translateY(102%);
          }
        }

        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: var(--primary-color);
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    .gallery {
      margin-top: 60px;
      text-align: center;
    }

    .title {
      font-size: 24px;
      color: white;
      overflow: hidden;

      p {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transform: translateY(102%);
      }
    }

    .images {
      margin-top: 36px;
      display: flex;
      flex-wrap: wrap;

      @include sp-layout {
        justify-content: center;
      }

      .image-link {
        width: 15vw;
        margin: 0 12px;
        overflow: hidden;

        @include sp-layout {
          width: 40vw;
          margin: 0 12px 12px 0;
        }

        .image {
          position: relative;
          transition: 0.6s;

          &::before {
            position: absolute;
            content: attr(data-label);
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            background: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: 0.4s;
          }
        }

        &:hover .image {
          transform: scale(1.2);

          &::before {
            opacity: 1;
          }
        }
      }

      img {
        height: 250px;
        transform: translateY(102%);
      }
    }
  }
}
